
body {
    font-family: Arial, sans-serif;
}
.suspect-img {
    width: auto;
    height: 450px;
    border-radius: 25%;
    object-fit: contain;
    transition: opacity 0.5s;
}
.question-btn:disabled {
    background-color: gray;
    color: #ccc;
}

h2 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.suspects {
    padding: 15px;
}

.bg-breakroom {
    background: url('../images/BG_Office.jpg') no-repeat center center fixed;
    background-size: cover;
}

#game-container {
  background: url('../images/BreakRoom.jpg') center/cover no-repeat;
  background-size: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  border: rgb(2, 2, 2) solid 5px;
  border-radius: 10px;
  padding: 20px;
}
body {
    color: white;
}
.card {
    background-color: rgba(255, 255, 255, 0.9);
}
.card-body {
    color: black;
}